.main-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../../public/img/1.png');
    background-size: 20% 100%;
    background-repeat: no-repeat; 
    background-position: right;
  }